<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488666024519-gisjc20vkkc56mofsdbrbrpff385otrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488666024519-gisjc20vkkc56mofsdbrbrpff385otrg</string>
	<key>API_KEY</key>
	<string>AIzaSyBxr1bWnhh3LYFikY5lzk41g37CzASrHro</string>
	<key>GCM_SENDER_ID</key>
	<string>488666024519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatly</string>
	<key>PROJECT_ID</key>
	<string>chatly-d0a55</string>
	<key>STORAGE_BUCKET</key>
	<string>chatly-d0a55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488666024519:ios:9520f34e6dbe86e341ff62</string>
</dict>
</plist>